@import "tailwindcss";
@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/src/assets/Gilroy-Black.ttf") format("ttf");
  }
  /* The navbar container */
.navbar-container {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Base navbar style */
.navbar-container .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
  color: white;
  transition: all 0.3s ease;
}

/* Glass effect when sticky */
.navbar-container.sticky .flex {
  backdrop-filter: blur(10px); /* Apply blur */
  background-color: rgba(0, 0, 0, 0.3); /* Slightly darker with transparency */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for separation */
  border-radius: 10px; /* Optional: Add border radius for a rounded look */
}
